<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h5>Dashboard</h5>
                <router-link :to="{ name: 'gantangan-index' }" class="btn btn-primary">Halaman Gantangan</router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>