<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Daftar Gantangan</h4>
                        <p class="card-category">Klik gantangan untuk melihat nilai gantangan</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-info">
                                    <tr>
                                        <th>#</th>
                                        <th>Nomor / Nama Gantangan</th>
                                        <th>Keterangan</th>
                                        <th>Nomor / Nama Gantangan</th>
                                        <th>Keterangan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <router-link :to="{name: 'gantangan-detail', params: {id: '130324'}}" style="display: contents; color: black;">
                                    <tr>
                                        <td>1</td>
                                        <td>Dakota Maskeaso</td>
                                        <td>Oud-Turnhout</td>
                                        <td>Dakota Maskeaso</td>
                                        <td>Oud-Turnhout</td>
                                    </tr>
                                    </router-link>
                                    <router-link :to="{name: 'gantangan-detail', params: {id: '130324'}}" style="display: contents; color: black;">
                                    <tr>
                                        <td>2</td>
                                        <td>Minerva Hooper Amskora</td>
                                        <td>Sinaai-Waas</td>
                                        <td>Minerva Hooper Amskora</td>
                                        <td>Sinaai-Waas</td>
                                    </tr>
                                    </router-link>
                                    <router-link :to="{name: 'gantangan-detail', params: {id: '130324'}}" style="display: contents; color: black;">
                                    <tr>
                                        <td>3</td>
                                        <td>Sage Rodriguez</td>
                                        <td>Netherlands</td>
                                        <td>Sage Rodriguez</td>
                                        <td>Netherlands</td>
                                    </tr>
                                    </router-link>
                                    <router-link :to="{name: 'gantangan-detail', params: {id: '130324'}}" style="display: contents; color: black;">
                                    <tr>
                                        <td>4</td>
                                        <td>Philip Chaney Mahfiolposa</td>
                                        <td>Korea, South</td>
                                        <td>Philip Chaney Mahfiolposa</td>
                                        <td>Korea, South</td>
                                    </tr>
                                    </router-link>
                                    <router-link :to="{name: 'gantangan-detail', params: {id: '130324'}}" style="display: contents; color: black;">
                                    <tr>
                                        <td>5</td>
                                        <td>Doris Greene Hajuisopio Fakols</td>
                                        <td>Malawi</td>
                                        <td>Doris Greene Hajuisopio Fakols</td>
                                        <td>Malawi</td>
                                    </tr>
                                    </router-link>
                                    <router-link :to="{name: 'gantangan-detail', params: {id: '130324'}}" style="display: contents; color: black;">
                                    <tr>
                                        <td>6</td>
                                        <td>Mason Porter</td>
                                        <td>Chile</td>
                                        <td>Mason Porter</td>
                                        <td>Chile</td>
                                    </tr>
                                    </router-link>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>