<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <router-link :to="{name: 'gantangan-index'}" class="btn btn-primary">
                    Kembali
                </router-link>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Detail Gantangan</h4>
                        <!-- <p class="card-category">Klik gantangan untuk melihat nilai gantangan</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-info">
                                    <tr>
                                        <th>#</th>
                                        <th>Waktu</th>
                                        <th>Durasi Kicau</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>14:00 - 10 Mei 2021</td>
                                        <td>3 detik</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>14:02 - 10 Mei 2021</td>
                                        <td>5 detik</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>14:03 - 10 Mei 2021</td>
                                        <td>5 detik</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>14:03 - 10 Mei 2021</td>
                                        <td>2 detik</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>14:05 - 10 Mei 2021</td>
                                        <td>4 detik</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>14:08 - 10 Mei 2021</td>
                                        <td>7 detik</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>