<template>
    <div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

            Tip 2: you can also add an image using data-image tag
        -->
        <div class="logo">
            <router-link class="simple-text logo-noemal" :to="{ name: 'dashboard'}">
                <!-- <i class="material-icons">dashboard</i> -->
                LoveBird Assessment
            </router-link>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item  ">
                    <router-link class="nav-link" :to="{ name: 'dashboard'}">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                    </router-link>
                </li>
                <li class="nav-item  ">
                    <router-link class="nav-link" :to="{ name: 'gantangan-index'}">
                        <i class="material-icons">dashboard</i>
                        <p>Gantangan</p>
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>