<template>
  <div>
        <!-- <nav class='navbar navbar-dark bg-dark'>
            <div class='container'>
                <router-link :to="{ name: 'dashboard' }" class="navbar-brand">Laravel</router-link>
            </div>
        </nav> -->
        <!-- Page Wrapper -->
        <div class="wrapper">
            <!-- sidebar -->
            <app-sidebar></app-sidebar>
            <!-- \sidebar -->

            <!-- Content Wrapper -->
            <div class="main-panel">
                <app-navbar></app-navbar>
                <!-- main content -->
                <div class="content">
                    <div class="container-fluid">
                        <router-view></router-view>
                    </div>
                </div>
                <!-- /main content -->
                <app-footer></app-footer>
            </div>
            <!-- /Content Wrapper -->
        </div>
    </div>
</template>

<script>
import Footer from '../components/Footer.vue'
import Sidebar from '../components/Sidebar.vue'
import Navbar from '../components/Navbar.vue'

export default {
    components: {
        'app-sidebar': Sidebar,
        'app-navbar': Navbar,
        'app-footer': Footer
    }
}
</script>

<style>

</style>